{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Add Teacher</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<h2>Add Teacher</h2>

<form method="POST">
    {% csrf_token %}

    <label>Name:</label>
    <input type="text" name="name"><br><br>

    <label>Subject:</label>
    <input type="text" name="subject"><br><br>

    <label>Email:</label>
    <input type="email" name="email"><br><br>

    <label>Phone:</label>
    <input type="text" name="phone"><br><br>

    <label>Qualification:</label>
    <input type="text" name="qualification"><br><br>

    <label>Experience:</label>
    <input type="number" name="experience"><br><br>

    <input type="submit" value="Save">
</form>

</body>
</html>